*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
	background: #f5f5f5
}
.contenedor{
	width: 100%
	max-width:1000px;
	margin: auto;
	padding: 60px
	background: #fff;
	margin-top: 50px;
	box-shadow: 0px 1px 10px
	rgba(0,0,0,0,4);
}
.titulo{
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	font-weight: 400;
}
.sub-titulo{
	font-size: 30px;
	font-weight: 400;
}
.contenedor img{
	width: 700px;
	height: 400px;
	float: left;
	margin-right: 20px
}
.contenedor p{
	text-align: justify;
	font-size: 25px; 
	font-weight: 100;
	margin-top: 30px;
}